body {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    background: #c0a3a3;
}
.caxa {
    background: #AD0000;
    position: relative;
}
.logo {
    padding: 50px 20px;
    font-size: 50px;
}
.caxa nav ul li {
    display: inline;
    margin: 0 30px;
    font-size: 40px;
}
.caxa nav ul {
    right: 0px;
    text-align: end;
    margin: -90px 50px;
    position: absolute;
}
.banner {
    width: 100%;
}
.balaco {
    text-align: center;
    font-size: 50px;
}
.balaco1 {
    text-align: center;
    font-size: 65px; 
}
.caxa1 {
    background: #AD0000;
    padding: 10px;
}
.rissoto {
    width: 12%;
    border: #000000 solid 3px;
    border-radius: 15px;
}
.pratos nav ul li {
    display: inline;   
    font-size: 40px;
}
.pratos nav ul {
    text-align: center;
    margin: 20px 20px;
}
.titulo {
    padding: 50px 20px;
    font-size: 55px;
    text-align: center;
}
.paragrafo {
    font-size: 30px;
    text-align: center;
    
}